# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# LaTeX build artifacts
*.aux
*.log
*.toc
*.lof
*.lot
*.out
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.fls
*.fdb_latexmk
*.synctex.gz

# Berkas bantu lampiran ISBN
lampiran-batas.txt
lampiran-isbn.pdf
lampiran-hal-*.pdf
